@font-face {
  font-family: "Lucida_Console";
  src: url("fonts/lucida_console_regular.ttf");

  font-family: "Bauhaus_93";
  src: url("fonts/bauhs93.ttf");
}

body {
  background-color: #1b203d;
  margin: 0;
}

header {
  background: white;
  display: flex;
  max-height: 100%;
  padding-left: 100px;
  z-index: 1;
  position: relative;
}

nav,
#hamburger-menu {
  background-color: white;
  display: none;
}

nav li {
  display: block;
}

nav ul {
  padding: 0px;
}

nav a {
  color: #1b203d;
  display: block;
  text-decoration: none;
  padding: 10px;
  position: relative;
  font-family: "Lucida_Console", Arial, sans-serif;
  font-size: 38px;
}

a:hover {
  color: white;
  background-color: #1b203d;
  border-radius: 25px;
}

.hamburger-label {
  float: right;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

h1 {
  font-family: "Bauhaus_93", Arial, sans-serif;
  font-size: 5rem;
  letter-spacing: 12px;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 6px #3596c7;
  -webkit-text-stroke: 0.5px #1b203d;
}

h2 {
  font-family: "Lucida console", Arial, sans-serif;
  font-size: 59px;
  letter-spacing: 5px;
  line-height: 5px;
  color: white;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  font-family: "Lucida console", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 5px;
  line-height: 5px;
  color: #ec48f5;
  text-align: center;
}

h5 {
  font-family: "Lucida console", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 5px;
  line-height: 5px;
  color: #e8d123;
  padding-bottom: 58px;
  text-align: center;
}

@media (min-width: 600px) {
  .logo {
    float: left;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 100px;
  }

  nav {
    display: inline-block;
  }

  .hamburger-label {
    display: none;
  }

  ul {
    display: flex;
  }

  li {
    display: inline-block;
  }
}
