@font-face {
  font-family: "Lucida_Console";
  src: url("fonts/lucida_console_regular.ttf");

  font-family: "Bauhaus_93";
  src: url("fonts/bauhs93.ttf");
}

body {
  background-color: #1b203d;
  background-image: url("../images/backgrounds/hex_rgb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-bottom: 200px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.container div {
  border: 1px solid black;
}

.header {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
}

.ad_left,
.ad_right {
  color: white;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.ad_left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 10;
}

.ad_right {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 10;
}

.footer {
  background-color: white;
  min-height: 50px;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 0px;
  z-index: 2;
}

#title_txt {
  font-family: "Lucida console", Arial, sans-serif;
  font-size: 4em;
  letter-spacing: 5px;
  line-height: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#login_btn {
  font-size: 3em;
}

#reg_btn {
  font-size: 3em;
}

.main {
  position: relative;
  max-width: 100%;
  padding-bottom: 50px;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 10;
}

.title {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.reg_form {
  background-color: #5ccf4c;
  position: relative;
  width: 1000px;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
}

li {
  padding-bottom: 10px;
  padding-left: 60px;
}

#fill_form {
  color: white;
  list-style: none;
  font-family: "Lucida console", Arial, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  position: absolute;
  left: 90px;
}

#box {
  position: relative;
  font-size: 25px;
  width: 400px;
  height: 50px;
}

#box_1 {
  position: relative;
  font-size: 25px;
  width: 150px;
  height: 150px;
}

#box_2 {
  font-size: 25px;
  width: 600px;
  height: 250px;
}

.btn {
  position: absolute;
  top: 800px;
  left: 475px;
}

#buy_btn,
#acc_btn {
  margin: 0px;
  font-size: 1em;
}
